.container{
    width: 1280px;
    text-align: center;
    margin: auto;
    background-color: rgba(132, 116, 116, 0.605);
    padding: 25px;   
}
.cards{
    display: flex;
    gap: 12px; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
h1{
    font-family: "Madimi One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}